<form class="form" method="post" asp-action="ChangePass">
    <p class="description text-center">Change your password</p>
    <div class="card-body">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">security</i>
                </span>
            </div>
            <input name="pass" style="background-color: transparent;" type="password" class="form-control" placeholder="Your current password">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">verified_user</i>
                </span>
            </div>
            <input name="newpass" style="background-color: transparent;" type="password" class="form-control" placeholder="New Password">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">verified_user</i>
                </span>
            </div>
            <input name="repass" style="background-color: transparent;" type="password" class="form-control" placeholder="Re - New Password">
        </div>
    </div>
    <style>
        ul {
            list-style-type: none;
        }
    </style>
    <strong><div asp-validation-summary="All" style="color:purple"></div></strong>
    <div class="footer text-center">
        <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Save</button>
        <a asp-action="Profile" class="btn btn-primary btn-link btn-wd btn-lg">Cancel</a>
    </div>
</form>