@{
    ViewData["Title"] = "Home";
    ViewData["Type"] = "landing";
    Layout = "_Layout";
}
        <div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/fev_background/DSC07513-65.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="title">Your Story Starts With Us.</h1>
                        <h4>We are not the best, but we believe that we are simply one.</h4>
                        <h4>It is the place we call "Family".</h4>
                        <br>
                        <a href="https://www.youtube.com/channel/UCqfYEyhLA5AkGi_g5cGdFDQ/videos" target="_blank" class="btn btn-danger btn-raised btn-lg">
                            <i class="fa fa-play"></i> Watch video
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="container">
                <div class="section text-center">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="title">Let&apos;s talk about FEV</h2>
                            <h5 class="description">This is the paragraph where we will write more details about FEV. Keep your user engaged by providing meaningful information.</h5>
                        </div>
                    </div>
                    <div class="features">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="info">
                                    <div class="icon icon-info">
                                        <i class="material-icons">group</i>
                                    </div>
                                    <h4 class="info-title">Friend</h4>
                                    <p>Write a few lines about Friend. A paragraph describing the fiendship in FEV.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info">
                                    <div class="icon icon-success">
                                        <i class="material-icons">trending_up</i>
                                    </div>
                                    <h4 class="info-title">Environment</h4>
                                    <p>Write a few lines about Environment to Grow up. Let the darkness lead us into the light. Let our dreams get lost, feel the temperature rise Tell me one more beautiful lie One touch and I ignite </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="material-icons">videogame_asset</i>
                                    </div>
                                    <h4 class="info-title">Event</h4>
                                    <p>Write a few lines about Event. So alive, your touch is like a daylight. Burning on my skin, it turns me on again. You and I, she thought us were the same kind. But we're the only ones. Dancing on the sun</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section text-center">
                    <h2 class="title">Here is our Dev-team</h2>
                    <div class="team">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="team-player">
                                    <div class="card card-plain">
                                        <div class="col-md-6 ml-auto mr-auto">
                                            <img src="/assets/img/fev_dev_avt/BEN00150-2.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                                        </div>
                                        <h4 class="card-title">vnproben
                                            <br>
                                            <small class="card-description text-muted">Designer</small>
                                        </h4>
                                        <div class="card-body">
                                            <p class="card-description">Im a senior in FPT University in HCM city. My major is Software Engineering. Follow me outside the site:</p>
                                        </div>
                                        <div class="card-footer justify-content-center">
                                            <a href="https://www.youtube.com/channel/UCWWG2OMjLZAFbgkDs8XRjNw?view_as=subscriber" class="btn btn-link btn-just-icon"><i class="fa fa-youtube-play"></i></a>
                                            <a href="https://www.instagram.com/vnproben/" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                            <a href="https://www.facebook.com/vnproben" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-player">
                                    <div class="card card-plain">
                                        <div class="col-md-6 ml-auto mr-auto">
                                            <img src="/assets/img/fev_dev_avt/Viki01.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                                        </div>
                                        <h4 class="card-title">Viki McGrand
                                            <br>
                                            <small class="card-description text-muted">Developer</small>
                                        </h4>
                                        <div class="card-body">
                                            <p class="card-description">Im the man who get up soon everyday to wait for luck to have a girl friend :). You can give more details about me. Follow me outside the site:</p>
                                        </div>
                                        <div class="card-footer justify-content-center">
                                            <a href="#" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-player">
                                    <div class="card card-plain">
                                        <div class="col-md-6 ml-auto mr-auto">
                                            <img src="/assets/img/fev_dev_avt/Hoang01.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                                        </div>
                                        <h4 class="card-title">Tien Hoang
                                            <br>
                                            <small class="card-description text-muted">Model</small>
                                        </h4>
                                        <div class="card-body">
                                            <p class="card-description">Need not to know more about this person :)))) . By the way, you can give more details about me. Follow me outside the site:</p>
                                        </div>
                                        <div class="card-footer justify-content-center">
                                            <a href="https://www.facebook.com/ivan.cz.trinh" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section-contacts">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="text-center title">Wanna join with us</h2>
                            <h4 class="text-center description">Send us your contact. We will response get back to you as soon as possible.</h4>
                            <form class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Your Name</label>
                                            <input type="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Your Email</label>
                                            <input type="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                                    <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 ml-auto mr-auto text-center">
                                        <button class="btn btn-primary btn-raised">
                                            Send Message
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>